/* Path: src\app\mostrarserv\mostrarserv.component.css */
/* Path: src\app\mostrarserv\mostrarserv.component.css */


#logo{
    margin-top: 2%;
    margin-bottom: 2%;
  
}
#ver{

    border-style: solid;
}



#nombre {
    display: inline-block;
    margin-top: 5%;
    
}



#modelo {
 
    display: inline-block;
    
}

#serial {
 
    display: inline-block;
    
}

.textos{
    margin-right: 5%;
    display: inline-block;
    
}

#tecnico 
{
    
 display: inline-block;     
 margin-left: 5%; 
}

#contacto{
    display: inline-block;    
   margin-left: 30%;
}

#contactos{
  
   margin-left: 5%;
}
