<div class="container md">
<div>
  <h3>Ver Contacto</h3>
</div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Empresa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacto  ">
            <th scope="row">{{contact.nombre }} {{ contact.apellido}} </th>
            <td>{{contact.correo}}</td>
            <td>{{contact.telefono}}</td>
            <td>{{contact.cliente_id.empresa}}</td>
            
          </tr>
        </tbody>
      </table>
    
    </div>
