<div class="container">
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
     <button class="btn btn-primary" (click)="login()"><span>Servicios Smart</span></button>  
      <span class="example-spacer"></span>
      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon"(click)="empresas()" >
        Clientes
      </button >
      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon" (click)="crear()">
        Crear CLientes
      </button>
      
      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon"(click)="vercontacto()" >
        Contactos
      </button >
      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon" (click)="contacto()">
        Crear Contactos
      </button>
      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon"(click)="verequipo()" >
        Equipos
      </button >
      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon" (click)="crearequipo()">
        Crear Equipos
      </button>

      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon" (click)="verservicio()" >
        Servicios
      </button >
      <button mat-icon-button class="btn btn-outline-primary btn-sm me-md-2" aria-label="Example icon-button with menu icon" (click)="crearservicios()" >
        Crear Servicios
      </button>
      
    </mat-toolbar-row>
    
</mat-toolbar>
</p>
<router-outlet></router-outlet>

</div>
