<div class="container-sm">
<div>
  <h3>Crear Usuario</h3>
</div>

<form  [formGroup]="formReg" class="form-sm" >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control"  formControlName="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button (click)="onSubmit()" class="btn btn-primary">Crear Usuario</button>
  </form>

</div>
